[2018-10-04 02:25] doodybrains opened #2 "open source open source"
I have an idea for a project and wanted to share it here in case anyone wants to collaborate or has feedback. Essentially the project will use GitHub and CircleCi's built in features to create a structure for alternative open source systems (i.e. not code repositories) in order to challenge what can be open source and what open source can look like. i create a repository for it and talked to mysel

[2018-10-08 10:33] lunaog opened #3 "Diasporadical Radio First Inkling"
Last year I worked on a project for the Impossible Maps class. The map is based off an app I use which allows the user to click on a country and decade era and hear music from that time / place. The issue I have with this map is that It seems to be curated by a very select group of French people who while have good taste, have very limited knowledge of music outside of certain countries. My idea i

[2018-10-08 10:34] lunaog commented on #3
This is my idea for my final project! I welcome suggestions or critique or let me know if you want to collaborate!

[2018-10-18 16:00] NHibiki opened #4 "Final Project Idea about embedding p5.js in VSCode"
Visual Studio Code is known as a light, pretty and powerful code editor which is extendable and open-sourced. Our (with @WenheLI) idea is to make VSCode a friendly workspace for p5.js (which is also another open source project) by building a language server for p5.js APIs and a quick instant viewer for what you've done with the code you are working on.

With the help the language server, users can

[2018-10-22 02:46] guillemontecinos opened #5 "Final Project Ideas - work in progress"
Original File can be found [here](https://github.com/guillemontecinos/itp_fall_2018_open_source_studio/blob/master/week_7/project_ideas.md).

## Processing Foundation - GSoC
I'm a devote of p5.js and the Processing Foundation and have collaborated for a year and a half developing academic material to p5.js beginners in Spanish. I've also applied twice to the Fellowship call without success. I'm op

[2018-10-22 18:24] marcelmouse commented on #3
i think this is a great idea !

super curious to see what the code looks like _and_ what the visuals look like !

will the project be hosted in a single place? i wonder if there could be collaborative layers to the map...for example you would control the most bottom layer...another user could submit a pull request for a new layer which other users can toggle on and off....this way its essentially

[2018-10-22 18:25] marcelmouse commented on #2
keeping this idea in the backlog and planning on contributing to dan phiffer's organizer.network! not sure what exactly i will contribute but will update here when i know

[2018-10-22 18:27] doodybrains opened #6 "citizen journalism as open source investigation"
Thinking about this project: https://www.bellingcat.com/

What _is_ open source investigation? Can anyone contribute? What is the github equivalent?

[2018-10-22 19:02] marcelmouse commented on #5
I like the idea of a proto-tiny-guide for ML5 !

I agree that the project is extremely well documented and the tutorials are easy to follow but there could be something more!

Wondering what exactly would be in this guide?

I think more information on how to use ML5 in general! Maybe speculations on what ML5 could be used for in a personal project. Or clarifying what is the bare minimum someone ne

[2018-10-22 19:56] shiffman opened #7 "p5.js documentation help"
If you are interested in contributing to p5 as your final project, this post "documentation help needed!" post is a good place to start.

https://github.com/processing/p5.js/issues/2865

An idea for a tutorial, for example, could be a final project... even translating [a Processing one](https://processing.org/tutorials/) that is not part of the p5 universe yet?

[2018-10-22 19:58] shiffman opened #8 "p5.js translation edits and additions"
Another idea for a final project related to p5.js would be to help with edits or additions to the translations. At the moment there is:

* [p5.js en español](https://p5js.org/es/)
* [p5.js 用普通话](https://p5js.org/zh-Hans/)

More information can be found here:
https://github.com/processing/p5.js-website#internationalization-i18n-and-structure

[2018-10-22 20:20] shiffman commented on #4
I found a few existing extensions that might serve as good resources / references.

https://marketplace.visualstudio.com/items?itemName=filipesabella.live-p5
https://marketplace.visualstudio.com/items?itemName=garrit.p5canvas
https://marketplace.visualstudio.com/items?itemName=acidic9.p5js-snippets

I'm not sure if any of these are actively being maintained. Or if they use a language server.

[2018-10-22 20:21] shiffman commented on #2
Great! @doodybrains you can create a new issue for an idea for organizer.network! I think it makes more sense for each issue to be about a project idea rather than by person.

[2018-10-22 21:48] Hbentzur opened #9 "Organizer visual language"
I spoke to Dan Phiffer about creating a visual language for Organizer –
It can be nice to collaborate with someone in class since the visual language often rises from brainstorming with who is involved in the creative process.

[2018-10-22 21:57] shiffman commented on #9
Tagging @dphiffer!

[2018-10-22 22:00] Hbentzur opened #10 "Hebrew p5.js"
It doesn't have to be Hebrew!
The thought of teaching young learners programming without having to know English makes me excited. Maybe we can think about it together.

[2018-10-22 22:01] Hbentzur commented on #9
Thanks @shiffman ⚡️

[2018-10-22 22:02] shiffman commented on #10
Related to #8!

[2018-10-22 22:19] Hbentzur commented on #10
Ooo I missed that.

It is Related – though I'm trying to think how can we even lower the barrier of entry by writing code using the local alphabet. I've seen some examples which looks a bit underwhelming – @shiffman are you familiar with good ones?

🌈

[2018-10-22 22:48] D31F43 commented on #4
@shiffman Thanks, and we opened a early todo here. And find some information provided by VSCode and some other similar projects.

https://github.com/VSCode-Processing/P5LanguageServer/issues/1

[2018-10-22 22:49] dphiffer commented on #9
In case it's helpful, here is the photo that I've adapted for the current website. It's on my "mood board," so to speak. https://mltshp.com/p/1EEOG

And the colors I pretty much eyedropped straight from the Firefox Nightly logo: https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly

[2018-10-23 04:14] js6450 opened #11 "Kinectron, but with realSense"
I am already sort of involved / working on this, but for my final project, I was thinking of either 1) continuing / refining development of [Kinectron](https://github.com/kinectron/kinectron) created by Lisa Jamhoury who was a resident here last year or 2) creating a realSense version of Kinectron. I think I would end up doing both things in the long run, but for the scope of this class, I would p

[2018-10-23 04:18] js6450 opened #12 "Code based "creative project" idea aggregator / collection"
This sounds really vague, but I have recently been thinking about how a lot of code-based works are very short lived. A lot of ITP-style projects tend to be short lived because libraries get updated, functions become deprecated, browser no longer supports this or that.

So, I've been thinking, what if we create a repository / website of our projects or ideas for projects in pseudo code form? Or no

[2018-10-23 04:35] lunaog commented on #11
This reminds me of this project! Embodied take on the Kinect. Have you seen? She's in the ITP community!

http://nancynowacek.com/actioncoding

[2018-10-23 04:42] lunaog commented on #6
omg I love that you posted this. citizen journalism is open source investigation, right?

It really reminds me of just fake news and the fact that in a way we are living in an era where all news is becoming more fake as the local / individual subjectivity becomes more blatant...but then there's a very real professionalism + standard that needs to be kept in order to uphold order.

[2018-10-23 04:43] vince19972 opened #13 "WIP: Final Project Ideas"
## Contribution

- ### p5.js: Programming Concepts Visualization
From some recent discussions with classmates, I find that many programming concepts are too abstract for beginners to comprehend. Most of them are doing assignments without truly understanding of the concepts but only replicating the shallow pattern/form from example codes. With such a great visualization power, I think we could desi

[2018-10-23 05:45] doodybrains opened #14 "Contributing to organizer.network"
Hopefully to code but perhaps to more high level things! TBD.

[2018-10-23 05:48] marcelmouse commented on #12
cool idea !

seen this? https://github.com/wholepixel/solving-sol

[2018-10-23 12:01] linzhangcs opened #15 "Final Project Ideas"
For my final project I have two ideas:

1. Unity Library for [Dialogflow](https://dialogflow.com/) -  Dialogflow had a [library](https://assetstore.unity.com/packages/tools/integration/api-ai-unity-sdk-31498) for unity but the Dialogflow team has stopped supporting it. I want to explore different ways of integrating machine learning into AR/VR in Unity.  This project would help me dive deeper into

[2018-10-23 12:06] linzhangcs commented on #12
Great idea! It would be really fun to see different interpretations of the same instruction.

[2018-10-23 13:01] shiffman commented on #12
Interesting, this reminds me a bit of initiatives that compile algorithms and pseudo-code for those algorithms (so from a comp sci angle rather than creative project angle). Some recently shared a really nice one with me but I can't seem to find it with a google search right now.

There is also [ReCode Project](http://recodeproject.com/) by ITP alum @matthewepler which relates to the idea in some

[2018-10-23 13:05] shiffman commented on #15
Hi @linzhangcs! Great ideas! I didn't make this at all clear, but best to file each idea as a separate issue and title it accordingly. The idea is for issues to be individual threads by topic rather than by person. Would you mind closing and re-filing?

[2018-10-23 13:09] shiffman commented on #13
Hi @vince19972 I didn't make this at all clear, but best to file each idea as a separate issue and title it accordingly. The idea is for issues to be individual threads by topic rather than by person. Would you mind closing and re-filing?

[2018-10-23 13:11] shiffman commented on #11
I know that @lisajamhoury would be excited to hear about this so tagging her! Looking into [PoseNet](https://medium.com/tensorflow/real-time-human-pose-estimation-in-the-browser-with-tensorflow-js-7dd0bc881cd5) (post by @oveddan) could also be an interested option!

[2018-10-23 13:14] shiffman commented on #10
Oh, yes, this is indeed a wonderful idea to explore! [قلب](http://nas.sr/%D9%82%D9%84%D8%A8/) by @nasser is an excellent reference / source of inspiration!

[2018-10-23 13:15] shiffman commented on #6
Yes, I agree that "citizen journalism" is a kind of open source that could absolutely be explored for a final project. @doodybrains can you re-title this post with something more specific than "Possible Final Project idea"?

[2018-10-23 13:16] vince19972 opened #16 "Idea: p5.js Programming concepts visualization"
# p5.js: Programming concepts visualization

From some recent discussions with classmates, I find that many programming concepts are too abstract for beginners to comprehend. Most of them are doing assignments without truly understanding of the concepts but only replicating the shallow pattern/form from example codes. With such a great visualization power, I think we could design a series of inter

[2018-10-23 13:17] shiffman commented on #5
Hi @guillemontecinos! Great ideas! I didn't make this at all clear, but best to file each idea as a separate issue and title it accordingly. The idea is for issues to be individual threads by topic rather than by person. Would you mind closing and re-filing? (And @doodybrains might have to repost the comment, sorry!)

[2018-10-23 13:24] vince19972 opened #17 "Idea: Job skills requirements collection site"
# Front-end developer (or more?) job skills requirements collection site

Everybody knows that front-end development is a new and constantly changing market. Struggling with choosing the right learning path between various ones happens all the time. I suppose it'd be helpful if there's a site, which helps developer make decision easier, that counts the total requirement amount of each skills in al

[2018-10-23 13:26] vince19972 commented on #13
@shiffman I just opened issues #16 and #17!

[2018-10-23 13:49] camilleweins opened #18 "Medical jargon parser"
I want to make Latin and Greek parser for medical abstracts that are in public domain. I want people to be able to not rely on using sources such as Wired or IFLS on Facebook as a way to discover new news related to health. That's the equivalent of reading only the headline for an article or relying on Twitter. Maybe this could be used as a way to make a dataset for an ml5 model?

[2018-10-23 13:58] camilleweins opened #19 "Educational Game"
Developing a game as supplementary tool for chemistry. It would be interesting if it became a collection of different little 'games' from a bunch of people who have their own metaphors and analogies they use to understand chemistry. Or people could expand the metaphor. Maybe it could be open to different subjects eventually.

[2018-10-23 14:39] guillemontecinos commented on #5
Sure!

[2018-10-23 14:39] #5 closed

[2018-10-23 14:41] guillemontecinos opened #20 "ml5.js collaboration - Final Project"
# Pre-trained models
Some pre-trained models for style transfer -as *Matilde Pérez* and *Matta*- are not as accurate as expected. I'd like to improve them by checking the dataset built for training the model and correcting if needed. I'd like to train other models if there are any on demand.

# Learning material
I've realized that ml5.js learning material is pretty well documented. Apart from that

[2018-10-23 14:42] guillemontecinos opened #21 "Wekinator collaboration - Final Project"
Wekinator as a ML tool for creative purposes -mainly for live performances- is very useful and challenging. The problem of Wekinator is its the [documentation](http://www.wekinator.org/detailed-instructions/) is not friendly. I guess it's due project is that was created and has been maintained for only one person -despite it's stated as an open-source project.

I'd like to collaborate by creating

[2018-10-23 14:43] guillemontecinos opened #22 "Runway ML - Final Project"
As ml5.js, [Runway's examples](https://github.com/runwayml) are very well documented for coders, but I think they are little hidden for non coders. I'd like to collaborate with this project by developing learning material or a detailed tutorial -written or video- more accessible for users that don't use to code.

[2018-10-23 14:43] guillemontecinos opened #23 "Processing Foundation (GSoC) - Final Project"
I'm a devote of p5.js and the Processing Foundation and have collaborated for a year and a half developing academic material to p5.js beginners in Spanish. I've also applied twice to the Fellowship call without success. I'm opened to collaborate in any need of the project p5.js or the Foundation itself.

[2018-10-23 14:44] guillemontecinos commented on #5
Moved to here https://github.com/Open-Source-Studio-at-ITP/Final-Projects/issues/20

[2018-10-23 14:47] guillemontecinos commented on #10
This is an amazing idea, and it's also so related with what we've been working with @codedescuela and @montoyamoraga the last two years.
Please feel free to ask anything about our experience on that, it'd be a pleasure to help you on it.

[2018-10-23 14:53] marcelmouse commented on #9
@Hbentzur planning on contributing to organizer.network also : )

[2018-10-23 15:03] linzhangcs opened #24 "Unity Library for Dialogflow "
[Dialogflow](https://dialogflow.com/) had a [library](https://assetstore.unity.com/packages/tools/integration/api-ai-unity-sdk-31498) for unity but the Dialogflow team has stopped supporting it. I want to explore different ways of integrating machine learning into AR/VR in Unity.  This project would help me dive deeper into that topic.

[2018-10-23 15:06] linzhangcs opened #25 "Digital Zine"
For this idea, I want to make an issue of digital zine - inspired by  [Adjacent](https://itp.nyu.edu/adjacent/issue-3/) and NYT interactive issues, like [#thisis18](https://www.nytimes.com/interactive/2018/10/11/style/this-is-18.html). I am interested in exploring UI design and layout that would translate the look and feel of traditional zines into online digital zines.

[2018-10-23 15:07] #15 closed

[2018-10-23 15:08] linzhangcs commented on #15
Moved to #24 and #25

[2018-10-23 15:13] nicolaspe commented on #14
I'm also really interested in this!

[2018-10-23 15:15] nicolaspe opened #26 "openframeworks book"
For another class I have been learning openframeworks, mainly using the book for the basics and shader chapters. Sadly, many examples are missing key information and/or are vastly different from the example files provided. I would clean, correct and provide more information for this to be a better educational resource.

[2018-10-23 15:16] muji786 commented on #6
i think this is a great idea to run on github... not only can anyone contribute, there's provenance of where the information is coming from, who is editing it and how... If information like this was available for all journalists, hidden biases and fake news would be easier to identify

[2018-10-23 15:36] WenheLI opened #27 "Idea: P5.JS Gif/Animation Library"
This is an idea of introducing a Gif processing Library into P5.JS since gif is commonly used and sometimes help with the performance.  From my experience, if we can build up a Gif library we may introduce a lower computation consuming way of animation. This idea is still a rough thing, is anyone have some suggestions on that? I may attach a detailed description later on this issue.

[2018-10-23 15:44] js6450 commented on #27
I've used this javascript library called [gif.js](https://jnordberg.github.io/gif.js/) in combination with p5 before. Maybe a good resource to take a look and see how they are generating gifs in javascript.

[2018-10-23 15:49] jameshosken opened #28 "Blender Quick Hacks"
There are 16 open and approved New Feature issues tagged as "Beginner Friendly" on the Blender project. Although there are many ways to contribute to Blender, these 'Quick Hacks' are promoted as the easiest and most fulfilling way to get started.

[Quick Hacks page](https://developer.blender.org/project/view/34/)

[2018-10-23 15:54] muji786 opened #29 "Final Idea : Contribute to Datavyu : A time series coding tool for human development researchers."
In my last position, for two years I was managing the service and technical teams for the Databrary project that also developed datavyu, a video annotation tool for researchers. As the managing director, I was managing the organization, the people, the processes but never really got to contributing to the code itself. It so happened that it was open source and on github.

While the databrary proje

[2018-10-23 15:55] jameshosken opened #30 "Arduino Help Wanted"
The Arduino project has a "[Help Wanted](https://github.com/arduino/Arduino/issues?q=is%3Aissue+is%3Aopen+label%3A%22Help+wanted%22)" section on its GitHub issues page. These issues are said to be a good place for beginners to get involved. A final project could perhaps tackle one of these open issues.

Note: the issues are not all code/hardware related. As of now the second top issue is about cre

[2018-10-23 15:57] muji786 commented on #22
I think its a great idea. My struggle with alot of libraries and software has not been with the code, but with the actual documentation. You'd be surprised how much OSS code becomes unusable because of lack of docs. Kudos

[2018-10-23 16:42] camilleweins commented on #26
I've been learning openframeworks too and think this is a great idea. I think it would be interesting to do something in this style: https://aryaboudaie.com/java/python/technical/educational/2017/11/13/python-for-java-programmers.html

[2018-10-23 16:46] montoyamoraga commented on #10
@Hbentzur hi! yes, happy to help, right now they are developing the p5.js website in Chinese and there is also an unofficial one in Japanese.

[2018-10-23 17:37] tinkrmind opened #31 "Programmable-Air - Developing a community - Final Project"
[Programmable-Air](programmable-air.com) is a hardware tool and accompanying software that allows anyone familiar with Arduino to experiment with low power pneumatics. I want to develop a community of users around Programmable-Air. A place where users can not only learn from my documentation but share their success and failure stories, modifications, and discuss project ideas. A forum, essentially

[2018-10-23 18:18] nasser commented on #10
More than happy to help however I can :v:

[2018-10-23 20:32] WenheLI commented on #17
That is a real interesting idea! Have you considered using crawlers to get some data from websites or bbs which may give you a dynamic data. Also [d3.js](https://d3js.org/) might be a perfect library to visualize the data in this case!

[2018-10-25 01:43] lisajamhoury commented on #11
@shiffman thanks for the tag. Great to see this idea here!

@js6450 So happy to hear you are thinking of taking this on for your Open Source Studio project!

Something to consider:

It would be awesome to do 1 (some modernizing of Ktron code) as a lead into 2 (extending to Real Sense) and then eventually think about how it could be extended to other inputs — like to PoseNet, for example.

The idea

[2018-10-25 06:36] tinkrmind commented on #24
I love the idea of using Dialogflow in VR! Especially if Dialogflow is connected to some speech to text API it makes a lot of sense as a controller while in VR.

[2018-10-25 06:39] tinkrmind commented on #27
It'll be great to also provide direct API links to gif sources like giphy or gifs.com. I can imagine all sorts of hillarity emerging for this project. I predict an arduino controlled cat gif showing project within the first two days of you making this available!

[2018-10-25 06:41] tinkrmind commented on #30
You'll get mad street cred for contributing to Arduino in any way! I'm kinda surprised more ITP students aren't contributing to Arduino. Do you envision working on multiple small projects or tackling a chunky issue?

[2018-10-25 06:43] tinkrmind commented on #25
It'll be interesting if you can spell out the framework for starting a digital zine. I'm imagining Wordpress for digital zines.. 🤔

[2018-10-25 14:32] WenheLI commented on #16
[VisuAlgo ](https://visualgo.net/en) is a very interesting algorithm visualization website. I hope that will be a good reference for your project.

[2018-10-25 14:41] vince19972 commented on #19
It's like a super helpful learning platform for student like me who always fails chemistry!!

[2018-10-25 14:44] vince19972 commented on #17
@WenheLI Yeah! Do you think these kind of information is useful for developers? Using Scrapy to get instant data from major job platforms is my plan, but I haven't thought too much about data visualization part yet. Thanks for your advice!

[2018-10-25 14:46] vince19972 commented on #16
@WenheLI Thanks! It's a perfect reference for what I have in mind!

[2018-10-25 14:53] vince19972 commented on #4
This is cool. Please keep sharing your progress on this, I'd really like to know how to build an extension or using language server!

[2018-10-25 15:14] vince19972 commented on #14
I'm also interested, but having no specific goal right now.

[2018-10-25 16:02] shiffman commented on #16
Here are two additional references for this idea:

* The work of [Nicky Case](https://ncase.me/) who makes "Explorable Explanations".
* The work of [Bret Victor](http://worrydream.com/) specifically [Inventing on Principle](http://worrydream.com/#!/InventingOnPrinciple) and [Learnable Programming](http://worrydream.com/#!/LearnableProgramming)

[2018-10-25 16:02] shiffman commented on #16
Is "new project" the right label for this? Would it be a new set of tutorials about code or a tutorial contribution to the p5.js website?

[2018-10-25 16:04] shiffman commented on #17
This is a very useful idea and also quite ambitious! Besides the code for the website, or perhaps a data scraper, are there ways you imagine this being "open source" and building a community around crowd-sourcing the information and/or helping people find resources to learn?

[2018-10-25 16:05] shiffman commented on #18
Can you be more specific about what you mean by Latin and Greek "parser"? Is the idea to "translate" what is found in medical journals into something that lay people could understand? And automate this process?

I wonder if there's a first step to this project which would just involve manual curation of content in an open source way?

[2018-10-25 16:07] shiffman commented on #19
One way to think about this project could be to start with a very simple game that you create, open source and document how you made it, and provide a guide for how people can build their own on top of it?

[2018-10-25 16:09] shiffman commented on #20
In general for a contribution within a fixed period of time, it's useful to map out a specific project with a deliverable rather than "general code / bug fixes". I think a tutorial for ml5 as well as contributing more pre-trained models are both projects that would be helpful. Re: pre-trained models, helping to curate diversity in what models we provide is particularly needed.

[2018-10-25 16:12] shiffman commented on #23
Are there aspects of the p5.js Spanish language materials that need attention / improvements / work that would be suitable as a final project here? Also, would writing a guide about making a p5.js translation for other languages be helpful for the future? cc @lmccart

[2018-10-25 16:15] shiffman commented on #24
Great idea! Would this require buy-in from the maintainers of Dialogueflow? Or can this be done independently as an "extension" / "plug-in"? What kind of resources / help would you need? More from the unity side or the dialogueflow side? Or both?

[2018-10-25 16:15] vince19972 commented on #16
@shiffman Thanks for the references! It could be great to be integrated to p5.js website, but I'm not sure if it's appropriate or not. If possible, I prefer this as an contribution rather than independent site.

[2018-10-25 16:16] shiffman commented on #25
Do you have an idea for a topic that the zine would focus on? What does "open sourcing" a zine add to the making of it, would contributions to the content be open?

[2018-10-25 16:19] shiffman commented on #26
Are you referring to this book? https://github.com/openframeworks/ofBook/

There is also a call for things that need attention on the learning page. https://github.com/openframeworks/ofBook/

This would fit into the framework of a final project for this class very nicely.

[2018-10-25 16:21] shiffman commented on #27
GIFs can be natively loaded and displayed using `createImg()` in p5. However, there is no way (as far as I know) to use `loadImage()` with a GIF and unpack the frames for drawing in canvas. Is this what you are proposing to do?

ITP alum and former resident @craigson worked on a library to generate GIFs from a p5 sketch a while back. See: https://github.com/Craigson/p5Gif

[2018-10-25 16:27] shiffman commented on #16
A good place to start for a tutorial on the p5.js website itself would be porting one from https://processing.org/tutorials/ that has not yet been ported. A new topic is also possible but it should probably be filed as a proposal at [p5.js-website/issues](https://github.com/processing/p5.js-web-editor/issues) first. You can also create the tutorial as a stand-alone page (hosted maybe with GitHub p

[2018-10-25 16:28] shiffman commented on #16
I think some of your creative format ideas (like visualizing the algorithms themselves) would be really  exciting to explore and might make sense to prototype off the p5.js website first?

[2018-10-25 16:33] vince19972 commented on #17
@shiffman I'm afraid this is too ambitious as final project as well. I'll think about the scope carefully and see if it's practical or not.

And yes, except from building a platform for collecting and sharing information about certain skills in the industry, I imagine the site to be open source in the aspect of growing features/functions organically by the community. The idea is kinda like what De

[2018-10-25 16:34] vince19972 commented on #17
This is definitely too ambitious...

[2018-10-25 16:38] vince19972 commented on #16
@shiffman Thanks for the information! Right, I'll make it off the official site first. It's gonna be easier.

[2018-10-25 16:39] lmccart commented on #23
Hi @guillemontecinos, yes! Both of these are huge needs. In terms of translation, there is an automatically-generated list [here](https://github.com/processing/p5.js-website/blob/master/i18n-tracking.yml) but I don't think it's complete. I think the best thing to do would be to go through the spanish version of the site and look for places there's still english. And a guide for others wanting to c

[2018-10-25 16:41] lmccart commented on #27
also there's this outdated one from another ITP alum @antiboredom https://github.com/antiboredom/p5.gif.js/tree/master

[2018-10-25 16:42] lmccart commented on #7
It would also be awesome to have a single page in the [developer_docs](https://github.com/processing/p5.js/tree/master/developer_docs) folder that covered the info from this issue, so it could be easier to find.

[2018-10-25 20:47] shiffman commented on #16
I'll also tag @lmccart since she has been so kind to reply to other ideas around p5.js here!

[2018-10-25 20:53] shiffman commented on #14
Are there any pressing issues or features you might suggest @dphiffer as a starting point?

[2018-10-25 20:56] dphiffer commented on #14
Good question! I think the most helpful thing right now would be to try it out and to file issues about things that seem awkward or broken. It's very much wet paint, but I think starting to get feedback will help it get traction later on. Here is an invite link for an ITP group I just set up:
https://organizer.network/join/ykt6a8p7by0fipfb

[2018-10-25 20:57] dphiffer commented on #14
Link to the "new issue" page:
https://github.com/organizer-network/organizer.network/issues/new

[2018-10-25 22:46] WenheLI commented on #27
I am thinking of developing such a library that can generate, unpack and manipulate the gif rather than simply loading it. I will look into these resources! I am sure they will be super useful.

[2018-10-25 22:57] lmccart commented on #16
@vince19972 sounds great! please let me know if I can help answer any questions. looking forward to seeing what you come up with and hoping we can feature it on the p5.js site eventually too!

[2018-10-26 01:02] shiffman commented on #28
Looking at this list it's nicely documented for beginners and first-timers. I wonder what would I need to know to jump in? Is there a getting started contributing guide? What sort of development environment? Is it C++?

[2018-10-26 01:05] shiffman commented on #29
This looks great! The link 404'd for me, is this the right one?

https://github.com/databrary/datavyu

The project doesn't appear to have GitHub issues enabled. Do you know if there is a roadmap, to do list, or bug reporting system that could act as a good starting point for you? As you put together a proposal it would be great to get more specific in terms of bugs, documentation, features, etc.

[2018-10-26 01:11] shiffman commented on #31
In terms of forum software, as a reference, we use discourse for the Processing Foundation.

https://discourse.processing.org/
https://www.discourse.org/

A lightweight way of having people share their work could be a good way to start. Building an entire new content management system might be too much for this semester.

If your users are comfortable with GitHub even just editing a markdown / yam

[2018-10-26 15:29] Hbentzur commented on #10
@nasser I was just about to email you!
I met with @montoyamoraga, and he mentioned your name with great appreciation. I'm thinking about creative coding workshops in both Hebrew & Arabic in Jerusalem, where I'm from. I know there is still a lot to be done before such a thing would be possible – I'll take it one step at a time.

@nasser, perhaps we can meet next week? the coffee is on me ☝🏼

[2018-10-26 16:49] nasser commented on #10
@Hbentzur shoot me an email and lets plan something!

[2018-10-26 19:06] guillemontecinos commented on #22
I talked to @cvalenzuela about developing a @runwayml plugin for Ableton Live with its respective documentation and tutorials. This is really interesting to me because I use Ableton for any musical work I develop.

[2018-10-26 20:00] js6450 commented on #11
@lisajamhoury Thank you so much for your feedback!

Yes, attempting at creating a common language amongst all devices for body / depth via Kinectron would be amazing.

Thank you also for your email about xStory and I'm definitely planning on applying. I think in terms of scoping for open studios final, its sounds like picking the first option might be the best, so I can ease into the second option

[2018-10-27 19:48] vince19972 commented on #16
@lmccart thanks! will definitely let u know when i have a clearer plan or questions!

[2018-10-27 20:34] ilanabonder commented on #24
@linzhangcs I would love to help!!! I've been really interested on integrating dialogflow in Unity for AR projects --- would you like to work on that together or are you thinking more on doing a solo project? I haven't decided my project yet and would be very excited to work with you on that :)

[2018-10-28 22:32] D31F43 commented on #30
I think most of these tasks are not easy to deal with. They are a bit challenging, but interesting. And I find another project related - [Arduino Create](https://github.com/arduino/arduino-create-agent/issues). It is also an official project, but brings native to cloud.

[2018-10-28 22:36] D31F43 commented on #11
@js6450 I think the project is very interesting. Related to the unmaintained `peer.js`, I think it can be replaced by lots of other projects. Like `Socket.IO`, `JWT`.

[2018-10-29 00:56] lunaog opened #33 "BODIES OF KNOWLEDGE- Idea"
Would be amazing for someone to get involved with this project:

https://github.com/sparcopen/doathon/issues/20

BODIES OF KNOWLEDGE* aim to demonstrate how underrepresented groups such as women* trans* and/or people of colour can take a much broader scope in the development chain, from design to manufacturing and the mainstream adoption of technologies.

[2018-10-29 20:39] shiffman commented on #33
This looks like a wonderful initiative. Glancing over it quickly, it looks like the doathon was last year (Oct/Nov 2017). Is there a plan for another and/or an active area of the project that could use a contribution?

[2018-10-30 01:41] alicehgsun commented on #24
@linzhangcs I also find this interesting, especially after taking Nicole's [Unconventional Uses of Voice Technology class](https://experiments.withgoogle.com/mystery-animal) and hearing her comment about how using dialogflow in Unity used to be much simpler(?). Reaching out to her might be helpful!

[2018-10-30 01:48] alicehgsun commented on #8
Hi @shiffman, are we looking for some specific languages for translation? If not, I can participate for Korean one!

[2018-10-30 01:51] lunaog commented on #33
Yes there is another one this year coming up soon! I am not sure how to find it on their Github but it's here:
https://doathon.opencon2018.org/

[2018-10-30 17:49] linzhangcs commented on #24
This would be done as an unity plugin. It seems Dialogflow API will be closed in a year or so, I need to find an alternative API for NLP intent recognition. I'd love to find a mentor who have experience with Unity scripting.

[2018-10-30 17:51] linzhangcs commented on #24
I'd love to work on this project together! :)

[2018-10-30 22:36] alicehgsun commented on #24
Here're in-class example by Aidan and past project from Nicole, using unity + dialogflow:
- [Garden Friends](https://experiments.withgoogle.com/garden-friends)
- [Paradise Blues](https://www.aidanjnelson.com/blog/hello-computer/paradise-blues/)

[2018-11-01 15:32] guillemontecinos commented on #23
Hi @lmccart thanks for the answer and sorry for the delay! I agree that a guide for translating the p5 website and examples can be very useful and I'd like to work on it as my project for this class.
Do you or @montoyamoraga have references or material that could be useful to design the translation guide?

[2018-11-01 20:12] lmccart commented on #23
I think most of the info is here: https://github.com/processing/p5.js-website#internationalization-i18n-and-structure, but this could be broken out into it's own page, structured more clearly, and accompanied with more explanation. You might realize other pieces of information that are missing as you're going through it.

There's also [this file](https://github.com/processing/p5.js-website/blob/ma

[2018-11-02 13:37] limzykenneth commented on #23
@guillemontecinos For the purpose of tracking untranslated pages (excluding documentation and examples) you can directly add to [this file](https://github.com/processing/p5.js-website/blob/master/i18n-tracking.yml) (hopefully the yml structure makes sense). After you have translated those untranslated entries you can go ahead and remove the relevant entries, following instructions [here](https://g

[2018-11-02 17:01] lmccart commented on #23
oh there it is, thanks @limzykenneth.
@guillemontecinos there are a few other pages in the wiki that would be useful to link to or include info from: https://github.com/processing/p5.js-website/wiki

[2018-11-02 19:39] guillemontecinos commented on #23
Thanks @lmccart & @limzykenneth for all that info!

[2018-11-03 04:07] doodybrains opened #36 "disaster.radio"
if i were to enroll in a second semester of open source studio i would choose to contribute to this project !

https://disaster.radio

[2018-11-03 15:12] shiffman commented on #14
@dphiffer Are you available to act as a project mentor? I have opened #37 with a draft of guidelines for project mentorship, feedback and thoughts would be welcome.

[2018-11-03 15:12] shiffman commented on #11
@lisajamhoury Are you available to act as a project mentor? I have opened #37 with a draft of guidelines for project mentorship, feedback and thoughts would be welcome.

[2018-11-03 15:14] shiffman commented on #23
I just created #37 with a set of draft guidelines for final project mentorship. @lmccart @limzykenneth I'd love any thoughts or feedback on the guidelines and let me know if either of you have availability or interest in participating!

[2018-11-03 23:58] limzykenneth commented on #23
@shiffman I have some but limited availability but I am interested in participating so depending on what is expected of the role I should be able to help with guiding students interested in translation or other certain aspects of the p5.js project.

[2018-11-04 02:34] shiffman commented on #27
Noting a link to the proposal is merged in #39.

https://github.com/WenheLI/p5.gif/blob/master/README.md    (Updated on Nov 10)

[2018-11-04 15:54] jameshosken opened #40 "Blenduino"
Getting data from Arduino to Blender (and back?), easily.

[Proposal](https://github.com/jameshosken/Blenduino)

TL;DR: Create a Blender addon to simply capture incoming serial data (e.g. from an Arduino) and process it in a way that's useful to modelers, animators, interaction designers, etc in a virtual 3D environment.

[2018-11-04 18:10] lisajamhoury commented on #11
@shiffman Yes, very excited to be a mentor for the class. @js6450 and I met yesterday about different project and started talking about what her first steps could be for this final.

The draft looks good. Three meetings in the timeframe is very doable. In our first meeting Jiwon and I will discuss how to best arrange a weekly checkin.

Please lmk what time Dec 11 presentations will be so I can get

[2018-11-04 18:52] lmccart commented on #23
Hi @shiffman this is great! I think I can't commit to being a mentor this semester, but can be generally available via email/github for any p5.js related project (or any projects that may overlap with my skills) to answer questions and help guide students toward useful resources.

[2018-11-05 00:14] guillemontecinos commented on #23
I think @montoyamoraga can also be a mentor for this project. What do you think @shiffman @lmccart @limzykenneth ?

[2018-11-05 15:20] dphiffer commented on #14
Yes, I'd be happy to, @shiffman!

[2018-11-05 17:42] shiffman opened #43 "Add question to address project long term plan"

[2018-11-05 19:12] shiffman commented on #43
Addressed in #46

[2018-11-05 19:31] shiffman commented on #23
Yes, if @montoyamoraga is interested that would be terrific! Here are the guidelines and expectations (open to discussion of course):

https://github.com/Open-Source-Studio-at-ITP/Final-Projects/blob/source/mentor-guidelines.md

[2018-11-05 19:32] shiffman commented on #11
The class meets 12:10 - 2:40pm.. I am still working on the presentation schedule.. we may do it over more than one class, will keep you posted!

[2018-11-05 20:07] js6450 commented on #11
@lisajamhoury Here is my proposal: https://github.com/js6450/body2web/blob/master/README.md

(the name of the project / application is definitely probably temporary)

[2018-11-06 16:31] #43 closed

[2018-11-06 22:32] #36 closed

[2018-11-06 22:32] #33 closed

[2018-11-06 22:32] #30 closed

[2018-11-06 22:32] #28 closed

[2018-11-06 22:33] #26 closed

[2018-11-06 22:33] #25 closed

[2018-11-06 22:33] #22 closed

[2018-11-06 22:33] #21 closed

[2018-11-06 22:33] #20 closed

[2018-11-06 22:34] #19 closed

[2018-11-06 22:34] #17 closed

[2018-11-06 22:34] #12 closed

[2018-11-06 22:34] #10 closed

[2018-11-06 22:35] shiffman commented on #9
I'm closing this issue but leaving #14 open as the thread for the project, if that's not right, let me know!

[2018-11-06 22:35] #9 closed

[2018-11-06 22:35] #8 closed

[2018-11-06 22:35] #7 closed

[2018-11-06 22:35] #6 closed

[2018-11-06 22:35] #4 closed

[2018-11-06 22:37] shiffman commented on #3
@lunaog This issue looks like the right one to tie to your final project, yes? Would you mind renaming the title of the issue (see "edit" button near "new issue" button at top of page) to something more specific?

[2018-11-06 22:37] shiffman commented on #31
@tinkrmind Are you able to present this project idea in class next week?

[2018-11-06 22:38] shiffman commented on #29
@muji786 Is this the project you've selected as your final?

[2018-11-06 22:38] #2 closed

[2018-11-06 22:40] shiffman commented on #18
@camilleweins Am I correct that this issue is the correct one associated with the idea you presented today?

[2018-11-06 22:41] camilleweins commented on #18
@shiffman Yup!

[2018-11-06 22:45] shiffman commented on #24
A reminder to add your proposal to:
https://github.com/Open-Source-Studio-at-ITP/Final-Projects/blob/source/proposals.md

[2018-11-06 22:45] shiffman commented on #31
Also, a reminder to add your proposal to:
https://github.com/Open-Source-Studio-at-ITP/Final-Projects/blob/source/proposals.md

[2018-11-06 22:46] shiffman commented on #29
A reminder to add your proposal to:
https://github.com/Open-Source-Studio-at-ITP/Final-Projects/blob/source/proposals.md

[2018-11-07 15:30] montoyamoraga commented on #23
Hi @shiffman @guillemontecinos
 I read the guidelines and this is great, thanks for the invite, I accept to be a mentor! =)

[2018-11-07 19:05] lunaog commented on #3
Should I still close it tho? I dont think its relevant anymore !

[2018-11-08 21:04] shiffman commented on #3
I am trying to decide what makes the most sense. I think, yes, if a project has a proposal submitted (and "accepted") as well as a mentor assigned, then the proposal issue can be closed! Removing the "needs mentor" label and closing! 🎉

[2018-11-08 21:04] #3 closed

[2018-11-08 21:05] shiffman commented on #11
Proposal is all set and mentor is assigned!

[2018-11-08 21:05] #11 closed

[2018-11-08 21:06] shiffman commented on #14
Proposal is all set and mentor is assigned!

[2018-11-08 21:06] #14 closed

[2018-11-08 21:06] shiffman commented on #23
Proposal is all set and mentor is assigned!

[2018-11-08 21:06] #23 closed

[2018-11-08 21:11] tinkrmind commented on #31
Sorry for the late response! Yes, I will be ready to present the idea in the next class. I'll add the proposal ASAP.

[2018-11-11 18:17] alicehgsun commented on #24
The link is added via [pull request](https://github.com/Open-Source-Studio-at-ITP/Final-Projects/pull/51)!

[2018-11-12 14:43] shiffman commented on #24
This project is all set to go!

[2018-11-12 14:43] #24 closed

[2018-11-12 19:28] shiffman commented on #27
Mentor will be @antiboredom!

[2018-11-12 19:39] shiffman opened #52 "Mentor "qualifications""
Up until now I've been reaching out to possible mentors directly. I [tweeted about mentorship](https://twitter.com/shiffman/status/1062065292698968069) and the question came in:

I will plan to add more details to the guidelines document. Suggestions are welcome via pull request or comments on this thread.

[2018-11-13 20:07] shiffman commented on #31
This project is all set now with #54

[2018-11-13 20:07] #31 closed

[2018-11-14 16:59] jameshosken commented on #40
@michaelshiloh has agreed to be the mentor for this project!

[2018-11-14 17:00] shiffman commented on #40
Wonderful, closing this issue, new ones related to this project can be filed as necessary!

[2018-11-14 17:00] #40 closed

[2018-11-14 20:48] shiffman commented on #16
@craigprotzel joining as mentor!

[2018-11-14 20:48] #16 closed

[2018-11-19 15:09] shiffman commented on #18
@sslover will be the mentor for this project!

[2018-11-19 15:09] #18 closed

[2018-11-25 15:25] shiffman opened #55 "User Testing Sign-Ups"
Projects should sign-up for the user testing workshops.

https://github.com/Open-Source-Studio-at-ITP/Final-Projects/wiki/User-Testing-Sign-Ups

I could also use some feedback and suggestions for the language on the page. I'm not sure I've clearly described the process and goals. You can comment here or edit the wiki directly.

[2018-11-25 15:33] shiffman opened #57 "Create Final Presentation Schedule"
Starting point #56

* [x] p5.gif.js
* [x] Blenduino
* [x] p5.js translation
* [x] Statable
* [x] Lexicon
* [x] Diasporadical Radio
* [x] Organizer.network
* [x] Dialogflow V2: Unity Plugin
* [x] Programmable-Air
* [x] Datavyu
* [x] body2web

[2018-11-25 15:34] shiffman opened #58 "Create Final Presentation Guidelines"
Along with #57, I need to create a document (like the proposal guidelines) for final presentations.

[2018-11-25 15:38] shiffman opened #59 "Invite Guests"
I will be inviting all mentors as well as other guest presenters from the semester. This issue is just a reminder for me to send out these invitations. If you have someone you'd like to suggest as a guest for final presentations, I would suggest contacting me via e-mail.

[2018-11-27 17:21] shiffman opened #61 "Final Documentation Guidelines"
Related to #58, I also will create final documentation guidelines.

[2018-12-03 14:17] #61 closed

[2018-12-03 14:20] shiffman commented on #57
Leaving this open until everyone has a slot:

[2018-12-03 14:49] js6450 commented on #57
@shiffman Link to the final project presentation doc is broken on the readme.md, but I'm confused why it's broken because it looks like it should work for me. Could you take a look?

[2018-12-03 18:20] shiffman commented on #57
@js6450 this is fixed now, thanks for the report!

[2018-12-03 18:20] shiffman commented on #57
@vince19972 and @tinkrmind You both signed up for 1:20pm. Since @vince19972's pull request was first I put @tinkrmind at 1:40pm. Ok with you both?

[2018-12-07 15:08] shiffman commented on #57
The schedule is now complete. @Open-Source-Studio-at-ITP/all-students please check your times and re-open this issue or e-mail me if need be!

[2018-12-07 15:08] #57 closed

[2018-12-07 15:09] shiffman commented on #59
A variety of guests have been invited, closing this issue but still open to any other ideas!

[2018-12-07 15:09] #59 closed

[2018-12-07 15:10] shiffman commented on #58
The guidelines are here, please file new issues or open any pull requests with suggestions, comments, questions!

https://github.com/Open-Source-Studio-at-ITP/Final-Projects/blob/source/final-presentation.md

[2018-12-07 15:10] #58 closed

[2018-12-07 15:10] shiffman commented on #55
User testing has been completed! Perhaps next year I'll more formally require / schedule this. Feedback welcome!

[2018-12-07 15:10] #55 closed

[2018-12-07 15:14] shiffman opened #71 "Final Project Documentation"
This issue is for tracking final project documentation for each project. When the project is completed and linked from the [final schedule](https://github.com/Open-Source-Studio-at-ITP/Final-Projects/blob/source/final-schedule.md) document, a check will be added below.

For reference, [here are the documentation guidelines and template](https://github.com/Open-Source-Studio-at-ITP/Final-Projects/b

[2018-12-07 15:19] shiffman commented on #71
(GitHub limits "assignees" to 10 people so I added a bunch of you but not everyone, oops!) @Open-Source-Studio-at-ITP/all-students is not an option under Assignees.)

Another idea is to open a separate issue for each project as they can also be comment / feedback threads on presentations. Any thoughts?

[2018-12-11 14:45] shiffman commented on #71
I am closing this thread and opening a new issue for each project: re: final project presentation feedback and documentation.

[2018-12-11 14:45] #71 closed

[2018-12-11 14:48] shiffman opened #75 "p5.gif.js"
This is an issue for feedback and discussion on final project presentations and documentation. It will be closed after documentation is submitted and the semester has completed.

Note that for this project the documentation has been submitted with #72.

[2018-12-11 14:50] shiffman opened #76 "Blenduino"
This is an issue for feedback and discussion on final project presentation and documentation. It will be closed after documentation is submitted and the semester has completed.

[2018-12-11 14:51] shiffman opened #77 "p5.js translation"
This is an issue for feedback and discussion on final project presentations and documentation. It will be closed after documentation is submitted and the semester has completed.

[2018-12-11 14:51] shiffman opened #78 "Statable"
This is an issue for feedback and discussion on final project presentations and documentation. It will be closed after documentation is submitted and the semester has completed.

[2018-12-11 14:52] shiffman opened #79 "Lexicon"
This is an issue for feedback and discussion on final project presentations and documentation. It will be closed after documentation is submitted and the semester has completed.

Noting that final project documentation has been submitted under #74.

[2018-12-11 14:53] shiffman opened #80 "Diasporadical Radio"
This is an issue for feedback and discussion on final project presentations and documentation. It will be closed after documentation is submitted and the semester has completed.

[2018-12-11 14:54] shiffman opened #81 "organizer.network"
This is an issue for feedback and discussion on final project presentations and documentation. It will be closed after documentation is submitted and the semester has completed.

Noting that slides were submitted under #73.

[2018-12-11 14:55] shiffman opened #82 "Dialogflow V2: Unity Plugin"
This is an issue for feedback and discussion on final project presentations and documentation. It will be closed after documentation is submitted and the semester has completed.

[2018-12-11 14:55] shiffman opened #83 "Programmable-Air"
This is an issue for feedback and discussion on final project presentations and documentation. It will be closed after documentation is submitted and the semester has completed.

[2018-12-11 14:56] shiffman opened #84 "Datavyu"
This is an issue for feedback and discussion on final project presentations and documentation. It will be closed after documentation is submitted and the semester has completed.

Noting that #53 is outstanding also.

[2018-12-11 14:57] shiffman opened #85 "body2web"
This is an issue for feedback and discussion on final project presentations and documentation. It will be closed after documentation is submitted and the semester has completed.

[2018-12-11 16:07] guillemontecinos commented on #77
[Final Documentation](https://github.com/guillemontecinos/itp_fall_2018_open_source_studio/blob/master/final_project/final.md) can be found here.

[2018-12-11 18:23] nicolaspe commented on #85
Accessibility issue: When showing the Electron UI on the screen, it was hard to read the interface (color contrast + thin font)

[2018-12-15 16:09] shiffman commented on #76
Project documentation is linked. Great work!

[2019-01-02 16:52] shiffman commented on #76
Great work on this final project! It was wonderful to see the add-on working in your final presentation. The documentation is excellent and thorough, nice job on having both a user guide and a contributing guide. The user guide could probably be expanded, having a video walk-through/demo and screenshots would be helpful. I think the idea of replicating "real camera movement in a virtual environmen

[2019-01-02 16:52] #76 closed

[2019-01-02 16:54] shiffman commented on #85
@js6450 is there a link to your final presentation / write-up? I'm looking at https://github.com/js6450/depth2web. Thanks!

[2019-01-02 17:07] shiffman commented on #81
Wonderful work on this project! I was really impressed with how you so closely collaborated with @dphiffer on this project. Your presentation was thorough and engaging. You did an especially nice job of explaining the history and purpose of organizer.network as well as describing your contribution during the final project period. Providing a list of links to issues and pull requests is really help

[2019-01-02 17:07] #81 closed

[2019-01-02 17:23] shiffman commented on #77
Great work on this project! It is so wonderful to see the continued discussion and progress of this work as it is folded into the p5.js website and related repos. Being closely involved with the Processing Foundation I know how vital and important this project is. Translating the reference and materials is such time consuming and difficult work. On top of that, maintaining and updating a translati

[2019-01-02 17:43] shiffman commented on #75
Congrats on creating such a useful and fun library for p5.js! This is one of the most frequently asked questions in terms of beginners coming to p5 - How can I display a GIF? How can I render a GIF? You did an excellent job of having documentation for users of the library as well as a contributor's guide for the library itself. An important next step for you is to run a workshop showing how to use

[2019-01-02 17:43] #75 closed

[2019-01-03 15:44] shiffman commented on #78
@vince19972  is there a link to your final presentation / write-up? I'm looking at https://github.com/vince19972/Statable. Thanks!

[2019-01-03 15:45] shiffman commented on #83
@tinkrmind the link on [final schedule](https://github.com/Open-Source-Studio-at-ITP/Final-Projects/blob/source/final-schedule.md) is broken, could you provide an updated on to your final write-up / documentation?

[2019-01-03 15:47] shiffman commented on #80
@lunaog is there a link to your final presentation / write-up? I'm looking at: https://github.com/lunaog/radio Thanks!

[2019-01-03 15:48] shiffman commented on #82
Could you please add a link to your final documentation to the [final presentation page](https://github.com/Open-Source-Studio-at-ITP/Final-Projects/blob/source/final-schedule.md)? Thanks!

[2019-01-03 15:48] shiffman commented on #84
@muji786 Could you please add a link to your final documentation to the [final presentation page](https://github.com/Open-Source-Studio-at-ITP/Final-Projects/blob/source/final-schedule.md)? Thanks!

[2019-01-03 15:58] shiffman commented on #79
Congrats on a great final project. Your project came a long way from the seeds of the idea you first presented. I was especially impressed with how you prepared a series of visual styles and interaction modalities for user testing. Making use of Google Forms for collecting data was an excellent choice in terms of accessibility and allowing you to speed forward to prototyping the sketches that made

[2019-01-03 15:58] #79 closed

[2019-01-04 22:02] lunaog commented on #80
Yes! My final write-up is here:
https://wp.nyu.edu/luna/2018/12/11/oss-final-presentation/

[2019-01-05 03:03] jameshosken commented on #76
Thanks Dan,

Video demos are a great idea, I'll definitely add them to the agenda!

[2019-01-11 15:59] alicehgsun commented on #82
Sorry for late update! I requested via PR

[2019-01-11 16:39] shiffman commented on #80
Thanks, added in #90 which can close this issue when merged!

Great job this semester on Diasporadical Radio! You worked very hard to solve a variety of difficult technical problems and it was wonderful to see a fully functioning version of the project at your final presentation! The mission and goals of your project were clearly stated and presented well. If you are to continue the project furthe

[2019-01-11 16:45] shiffman commented on #82
Great work this semester on Dialogflow V2: Unity Plugin! You picked a very challenging project from a technical point of view and I was impressed with how you were able to get everything working. Your presentation about the goals and utility of the plugin was excellent and clear. This project is unique to this class in that while your plug-in is open source, it is designed for DialogFlow and Unity

[2019-01-11 16:45] #82 closed

[2019-01-14 02:16] shiffman commented on #80
Merged #90 and closing, great work!

[2019-01-14 02:16] #80 closed

[2019-01-25 17:00] shiffman commented on #85
Congrats and wonderful work on body2web! The repository is nicely organized and does a nice job or documenting the technical details about the project. Your presentation was clear in describing the concepts and goals of the project. The topic of a general purpose "language/API" for hardware / software that allows coders to work with body tracking in real-time is important and would add tremendous

[2019-01-25 17:00] #85 closed